.contact-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background.svg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  padding: 3rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
.contact-container::after {
  content: "</body>";
  color: #8931ef;
  opacity: 0.6;
  position: absolute;
  bottom: 1%;
  font-family: "La Belle Aurore";
  left: 3%;
}
.contact {
  display: flex;
}
.contact div {
  background-color: rgb(29, 29, 29);
  height: 45px;
  padding: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  margin-right: 15px;
}
.contact img {
  width: 20px;
  margin-right: 5px;
}
.info {
  padding-left: 50px;
  width: 50%;
}

.info h2 {
  color: #8931ef;
  font-size: 3rem;
  padding: 10px 0;
  position: relative;
  margin: 15px 0;
}
.info .text-animate:hover {
  color: purple;
}
.info p {
  color: #fff;
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  padding: 20px;
}
.info h2::before {
  content: "<h1>";
  color: #8931ef;
  position: absolute;
  font-family: "La Belle Aurore";
  top: -5px;
  left: -10px;
  font-size: 13px;
  text-transform: lowercase;
  opacity: 0.6;
}
.info h2::after {
  content: "</h1>";
  color: #8931ef;
  position: absolute;
  bottom: -5px;
  left: -10px;
  font-family: "La Belle Aurore";
  font-size: 13px;
  text-transform: lowercase;
  opacity: 0.6;
}

form {
  width: 90%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 30px 0;
}
form::before {
  content: "<form>";
  color: #8931ef;
  opacity: 0.6;
  font-family: "La Belle Aurore";
  position: absolute;
  top: -20px;
  left: -5px;
}
form::after {
  content: "</form>";
  color: #8931ef;
  opacity: 0.6;
  font-family: "La Belle Aurore";
  position: absolute;
  bottom: -10px;
  left: -5px;
}
form input,
textarea {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: rgb(29, 29, 29);
  border: none;
  outline: none;
  margin-bottom: 5px;
  padding: 10px;
}
form textarea {
  height: 200px;
}
form input:focus,
form textarea:focus {
  border-bottom: 2px solid #8931ef;
}
form ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form ul li {
  width: 49.5%;
}

form button {
  width: 150px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid #8931ef;
  color: #8931ef;
  float: right;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 5px;
}
form button:hover {
  background-color: #8931ef;
  color: #fff;
  transition: 0.5s;
}
.map {
  width: 50%;
  height: 600px;
  margin-right: 25px;
  background-color: #8931ef;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.map::after {
  content: "</html>";
  color: #8931ef;
  opacity: 0.6;
  position: absolute;
  font-family: "La Belle Aurore";
  bottom: -5px;
  left: 1%;
}

@media (max-width: 840px) {
  .contact-container {
    flex-direction: column;
    height: auto;
  }
  .contact-container h1 {
    font-size: 2.5rem;
  }
  .contact {
    flex-direction: column;
  }
  .contact .email {
    width: 250px;
    margin: 0 0 10px;
  }
  .contact .phone {
    width: 200px;
  }

  .info {
    padding-left: 10px;
    width: 100%;
    margin: 0 auto;
  }
  .info p {
    padding: 10px 0;
  }
  form {
    width: 95%;
  }
  form ul {
    flex-direction: column;
  }
  form ul li {
    width: 100%;
  }
  .map {
    width: 95%;
    height: 400px;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .contact-container h1 {
    font-size: 2rem;
  }
}
